<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.extenprise.mapp" >

    <uses-permission android:name="android.permission.INTERNET" />

    <!--
     To retrieve OAuth 2.0 tokens or invalidate tokens to disconnect a user. This disconnect
     option is required to comply with the Google+ Sign-In developer policies
    -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <!-- To retrieve the account name (email) as part of sign-in: -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!--
    <android:uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/doctor"
        android:logo="@drawable/doctor"
        android:theme="@style/AppTheme" >

        <!--
        <activity
            android:name=".LoginPlusActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        -->

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".service.activity.LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName=".service.activity.MainActivity"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".service.activity.MainActivity" />
            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".service.activity.SearchDoctorActivity"
            android:parentActivityName=".service.activity.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".service.activity.MainActivity" />
        </activity>
        <activity
            android:name=".service.activity.SignUpActivity"
            android:label="@string/title_activity_sign_up"
            android:parentActivityName=".service.activity.SignUpPrevious" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".service.activity.SignUpPrevious" />

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".service.activity.MainActivity"
            android:label="Medico" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".service.activity.AddSpecialityActivity"
            android:label="@string/title_activity_add_speciality" />
        <activity
            android:name=".service.activity.AddWorkPlaceActivity"
            android:label="@string/title_activity_add_workplace" />
        <activity
            android:name=".service.activity.ServiceProviderHomeActivity"
            android:label="@string/title_activity_service_provider_home" />
        <activity
            android:name=".service.activity.AdvanceSearchDoc"
            android:label="@string/title_activity_search_doctor"
            android:parentActivityName=".service.activity.SearchDoctorActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".service.activity.SearchDoctorActivity" />
        </activity>
        <activity
            android:name=".service.activity.SearchResult"
            android:label="@string/title_activity_search_result" />
        <activity
            android:name=".service.activity.DoctorDetails"
            android:label="@string/title_activity_doctor_details"
            android:parentActivityName=".service.activity.SearchDocResultList" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".service.activity.SearchDocResultList" />
        </activity>
        <activity
            android:name=".service.activity.SearchDocResultList"
            android:label="@string/title_activity_search_doc_result_list"
            android:parentActivityName=".service.activity.SearchDoctorActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".service.activity.SearchDoctorActivity" />
        </activity>
        <activity
            android:name=".activity.HomeScreenActivity"
            android:label="@string/title_activity_home_screen" >

            <!--
                        <intent-filter>
                            <action android:name="android.intent.action.MAIN" />

                            <category android:name="android.intent.category.LAUNCHER" />
                        </intent-filter>
            -->
        </activity>
        <activity
            android:name=".service.activity.BookAppointment"
            android:label="@string/title_activity_book_appointment"
            android:parentActivityName=".service.activity.DoctorDetails" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".service.activity.DoctorDetails" />
        </activity>
        <activity
            android:name=".service.activity.TimeSlots"
            android:label="@string/title_activity_time_slots" />
        <activity
            android:name=".service.activity.SignUpPrevious"
            android:label="@string/title_activity_sign_up_previous"
            android:parentActivityName=".service.activity.LoginActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".service.activity.LoginActivity" />
            <!--
                        <intent-filter>
                            <action android:name="android.intent.action.MAIN" />

                            <category android:name="android.intent.category.LAUNCHER" />
                        </intent-filter>
            -->
        </activity>
        <activity
            android:name=".service.activity.PatientHistoryActivity"
            android:label="@string/title_activity_patient_history" >
        </activity>
        <activity
            android:name="com.extenprise.medico.AppointmentPastData"
            android:label="@string/title_activity_appointment_past_data" >
        </activity>
    </application>

</manifest>
