<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.extenprise.mapp" >

    <uses-permission android:name="android.permission.INTERNET" />

    <!--
     To retrieve OAuth 2.0 tokens or invalidate tokens to disconnect a user. This disconnect
     option is required to comply with the Google+ Sign-In developer policies
    -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <!-- To retrieve the account name (email) as part of sign-in: -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!--
    <android:uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/doctor"
        android:logo="@drawable/doctor"
        android:theme="@style/AppTheme" >

        <!--
        <activity
            android:name=".LoginPlusActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        -->

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateVisible" >

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".service.activity.SearchServProvActivity"
            android:label="Medico" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".service.activity.ServProvSignUpActivity"
            android:label="@string/title_activity_sign_up"
            android:parentActivityName=".activity.SignUpPreviousActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.SignUpPreviousActivity" />

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".service.activity.MainActivity"
            android:label="Medico" />
        <activity
            android:name=".service.activity.AddSpecialityActivity"
            android:label="@string/title_activity_add_speciality" />
        <activity
            android:name=".service.activity.AddWorkPlaceActivity"
            android:label="@string/title_activity_add_workplace"
            android:parentActivityName=".service.activity.ServProvSignUpActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".service.activity.ServProvSignUpActivity" />
        </activity>
        <activity
            android:name=".service.activity.ServiceProviderHomeActivity"
            android:label="@string/title_activity_service_provider_home" />
        <activity
            android:name=".service.activity.AdvSearchServProvActivity"
            android:label="@string/title_activity_search_doctor"
            android:parentActivityName=".service.activity.SearchServProvActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".service.activity.SearchServProvActivity" />
        </activity>
        <activity
            android:name=".service.activity.SearchResult"
            android:label="@string/title_activity_search_result" />
        <activity
            android:name=".service.activity.ServProvDetailsActivity"
            android:label="@string/title_activity_doctor_details"
            android:parentActivityName=".service.activity.SearchServProvResultActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".service.activity.SearchServProvResultActivity" />
        </activity>
        <activity
            android:name=".service.activity.SearchServProvResultActivity"
            android:label="@string/title_activity_search_doc_result_list"
            android:parentActivityName=".service.activity.SearchServProvActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".service.activity.SearchServProvActivity" />
        </activity>
        <activity
            android:name=".service.activity.AppointmentDetailsActivity"
            android:label="@string/title_activity_appointment_details"
            android:parentActivityName=".service.activity.ViewAppointmentListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".service.activity.ViewAppointmentListActivity" />
        </activity>
        <activity
            android:name=".activity.HomeScreenActivity"
            android:label="@string/title_activity_home_screen" >

            <!--
                        <intent-filter>
                            <action android:name="android.intent.action.MAIN" />

                            <category android:name="android.intent.category.LAUNCHER" />
                        </intent-filter>
            -->
        </activity>
        <activity
            android:name=".service.activity.BookAppointmentActivity"
            android:label="@string/title_activity_book_appointment"
            android:parentActivityName=".service.activity.ServProvDetailsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".service.activity.ServProvDetailsActivity" />
        </activity>
        <activity
            android:name=".activity.SignUpPreviousActivity"
            android:label="@string/title_activity_sign_up_previous"
            android:parentActivityName=".activity.LoginActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.LoginActivity" />
            <!--
                        <intent-filter>
                            <action android:name="android.intent.action.MAIN" />

                            <category android:name="android.intent.category.LAUNCHER" />
                        </intent-filter>
            -->
        </activity>
        <activity
            android:name=".service.activity.ViewAppointmentListActivity"
            android:label="@string/title_activity_view_appointment_list"
            android:parentActivityName=".service.activity.ServiceProviderHomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".service.activity.ServiceProviderHomeActivity" />
        </activity>
        <activity
            android:name=".service.activity.ViewAppointment"
            android:label="@string/title_activity_view_appointment"
            android:parentActivityName=".service.activity.ServiceProviderHomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".service.activity.ServiceProviderHomeActivity" />
        </activity>
        <activity
            android:name=".customer.activity.PatientSignUpActivity"
            android:label="@string/title_activity_customer_sign_up"
            android:parentActivityName=".activity.SignUpPreviousActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.SignUpPreviousActivity" />
        </activity>
        <activity
            android:name=".customer.activity.PatientsHomeScreenActivity"
            android:label="@string/title_activity_patients_home_screen" />
        <activity
            android:name=".service.activity.RxActivity"
            android:label="@string/title_activity_rx_activity"
            android:parentActivityName=".service.activity.AppointmentDetailsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".service.activity.AppointmentDetailsActivity" />
        </activity>
        <activity
            android:name=".service.activity.ViewRxActivity"
            android:label="@string/title_activity_view_rx"
            android:parentActivityName=".service.activity.AppointmentDetailsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.extenprise.mapp.service.activity.AppointmentDetailsActivity" />
        </activity>
        <activity
            android:name=".customer.activity.PatientHistoryActivity"
            android:label="@string/title_activity_patient_history"
            android:parentActivityName=".service.activity.AppointmentDetailsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.extenprise.mapp.service.activity.AppointmentDetailsActivity" />
        </activity>
        <activity
            android:name=".service.activity.ScannedRxActivity"
            android:label="@string/title_activity_scanned_rx"
            android:parentActivityName=".service.activity.AppointmentDetailsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.extenprise.mapp.service.activity.AppointmentDetailsActivity" />
        </activity>
        <activity
            android:name=".activity.FirstFlipperActivity"
            android:label="@string/title_activity_first_flipper" >
        </activity>
        <activity
            android:name=".service.activity.ServProvViewProfile"
            android:label="@string/title_activity_view_profile_main" >
        </activity>
        <activity
            android:name=".service.activity.ServProvBasicInfo"
            android:label="@string/title_activity_view_profile_basic_info" >
        </activity>
        <activity
            android:name=".service.activity.ServProvViewWorkDetails"
            android:label="@string/title_activity_view_profile_work_detail" >
        </activity>
        <activity
            android:name=".service.activity.ServProvWorkDetailList"
            android:label="@string/title_activity_serv_prov_work_detail_list" >
        </activity>
        <activity
            android:name=".service.activity.ServProvProfileMain"
            android:label="@string/title_activity_serv_prove_profile"
            android:parentActivityName=".service.activity.ServiceProviderHomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.extenprise.mapp.service.activity.ServiceProviderHomeActivity" />
        </activity>
        <activity
            android:name=".customer.activity.PatientProfile"
            android:label="@string/title_activity_patient_profile" >
        </activity>
    </application>

</manifest>
